body {
  color: white;
  background-color: black;
  font-family: "Oswald", sans-serif;
}
.titulo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.titulo img {
  width: 50px;
  margin-left: 15px;
}
.nav__links {
  margin-top: 30px;
  list-style: none;
  text-align: center;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 1.5 ease 0s;
  color: #edf0f1;
}
.nav__links li a:hover {
  color: #0088a9;
  transition-duration: 1s;
}

.productos {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}
hr {
  height: 5px;
  background: rgba(255, 255, 255, 0.986);
}
.productos img {
  width: 250px;
  border-style: inset;
}
.precio {
  margin-top: 10px;
  text-align: center;
}
.boton {
  text-align: center;
}
.redes-sociales {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
}

